body {
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  background-color: rgb(24, 24, 31);
}

/* Movie Card */
.title {
  font-size: 26pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.spans {
  font-size: 16pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cardBody {
  font-size: 13pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cardBtn {
  background-color: #ca3e47 ; 
  border-radius: 6px ; 
  border-color: transparent ; 
  padding: 10px 20px;
  color: dark;
  font-weight: bold;
}

.imdb {
  font-size: 12pt;
}
/* Movie Card */

/* Signup & Login */
.main {
  text-align: center;
  border-radius: 1.2rem;
  padding: 10px;
  font-family: 'Trebuchet MS';
}

.input {
  width: 30%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
}

.btn {
  background-color: rgb(54, 175, 54); /* Green */
  border-radius: '8px';
  border-color: 'transparent';
  color: 'white';
  text-align: 'center';
  text-decoration: 'none';
  display: 'inline-block';
  font-size: '16px';
  margin:' 4px 2px';
  cursor: 'pointer';
  padding: '8px 28px';
}

.logo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
  padding: 0 !important;
}

/* Signup & Login */

/* Tab - Main Page */
.tabItem {
  cursor: pointer;
  transition: 0.3 all ease-in-out;
  color: white
}

.tabItem :hover {
  text-decoration: none;
  color: white;
  background-color: #ca3e47;
}

.tabItem :active {
  text-decoration: none;
  color: white;
  background-color: #ca3e47;
}

.tabItem :visited {
  text-decoration: none;
  color: white;
  background-color: #ca3e47;
}

.active {
  background-color: #ca3e47;
}

/* Tab - Main Page */

.commercial-ticket {
  margin: 300px auto;
  background-color: #edede7;
  height: 360px;
  width: 680px;
  padding: 30px;
  background-image: radial-gradient(circle at center, rgb(24, 24, 31) 3px, transparent 4px), radial-gradient(circle at center, rgb(24, 24, 31) 3px, transparent 4px);
  background-size: 14px 12px;
  background-position: center -6px, center calc(100% + 6px);
  background-repeat: repeat-x;
}

.commercial-ticket h3 {
  font-size: 14pt;
  
}

.logo-ticket {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24pt;
  color: #ca3e47;

}

.present {
  font-size: 14pt;
  color: #ca3e47
}

.temp {
  color: black;
}

.titles {
  font-size: 14pt;
}