body {
  overflow-x: hidden;
}

/* Movie Card */
.title {
  font-size: 26pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.spans {
  font-size: 16pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cardBody {
  font-size: 13pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cardBtn {
  background-color: #ca3e47 ; 
  border-radius: 6px ; 
  border-color: transparent ; 
  padding: 10px 20px;
  color: dark;
  font-weight: bold;
}

.imdb {
  font-size: 12pt;
}
/* Movie Card */

/* Signup & Login */
.main {
  text-align: center;
  border-radius: 1.2rem;
  padding: 10px;
  font-family: 'Trebuchet MS';
}

.input {
  width: 30%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
}

.btn {
  background-color: rgb(54, 175, 54); /* Green */
  border-radius: '8px';
  border-color: 'transparent';
  color: 'white';
  text-align: 'center';
  text-decoration: 'none';
  display: 'inline-block';
  font-size: '16px';
  margin:' 4px 2px';
  cursor: 'pointer';
  padding: '8px 28px'
}

/* Signup & Login */

.logo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
  padding: 0 !important;
}