body {
  overflow-x: hidden;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

/* Movie Card */
.title {
  font-size: 26pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.spans {
  font-size: 16pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cardBody {
  font-size: 13pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cardBtn {
  background-color: #ca3e47 ; 
  border-radius: 6px ; 
  border-color: transparent ; 
  padding: 10px 20px;
  color: dark;
  font-weight: bold;
}

.imdb {
  font-size: 12pt;
}